@import url('https://fonts.googleapis.com/css?family=Delius+Unicase');
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

body{
    background-image: url(imgs/background.jpg);
}

h1{
    text-align: center;
}
#Cabeçalho{
    font-family: 'Bowlby One SC', cursive;
    color: #ffffff;
    font-size: 200%;
    letter-spacing: 2px;
    margin-top: 60%;
}
header{
    
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 40%;
}