@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

body{
    background-image: url(imgs/background.jpg);
}

h1{
    text-align: center;
}

#Cabeçalho{
    font-family: 'Bowlby One SC', cursive;
    color: #ffffff;
    font-size: 200%;
    letter-spacing: 2px;

}
#Cabeçalho,#titulo2:hover{
    text-shadow:aqua 0px -4px 15px;
}

#titulo2{
    position: relative;
    font-family: 'Share Tech Mono', monospace;
    color: #ffffff;
    text-align: center;
    font-size: 200%;
}



footer{
    color:white;
    margin-top:4%; 
    margin-left:30%; 
    width:40%; 
    text-align:center;
    /*background-color:white;*/
    opacity:0.9;
       
}
fieldset#login{
    text-align: center;
    margin: auto;
    width: 20%;
    opacity: 0.7;
    background-image: linear-gradient(to bottom, #fff, #999);
    border: none;
}
#login:hover{
    opacity: 1;
}
#entrar{
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    font-size: 200%;
    background-image: linear-gradient(to bottom, #999,#483D8B);
    padding-left: 20%;
    padding-right:20%;
    text-align: left;


}
.nomedeuser{
    width: 270px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    border-color: #ccc;
    border: none;
    font-size: 15pt;
    font-family: 'Quicksand', sans-serif;

}
#enviar{
    background-image: linear-gradient(to bottom, #999,#483D8B);
    border:none;
    border-radius: 30px;
    height: 50px;
    width: 300px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 15pt;
}
#enviar:hover{
    background-image: linear-gradient(to bottom, #999,#4169E1);
}
<<<<<<< HEAD
#esqueceuasenha{
    text-decoration: none;
=======

#esqueceuasenha a{
    font-family: 'Quicksand', sans-serif;
    text-decoration:none; 
>>>>>>> origin/master
}
