@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

body{
    background-image: url(imgs/background.jpg);
}

h1{
    text-align: center;
}

#Cabeçalho{
    font-family: 'Bowlby One SC', cursive;
    color: #ffffff;
    font-size: 200%;
    letter-spacing: 2px;

}
#Cabeçalho,#titulo2:hover{
    text-shadow:aqua 0px -4px 15px;
}

#titulo2{
    position: relative;
    font-family: 'Share Tech Mono', monospace;
    color: #ffffff;
    text-align: center;
    font-size: 200%;
}



footer{
    margin-left:30%; 
    width:40%; 
    text-align:center;
    background-color:white;
    opacity:0.4;
       
}
fieldset#login{
    text-align: center;
    margin: auto;
   width: 20%;
   opacity: 0.7;
    background-image: linear-gradient(to bottom, #fff, #ccc);
    border: none;
}
fieldset#login:hover{
    opacity: 1;
}
#entrar{
    color: #000;
}
